html {
  background-color: #eae5e5;
  scroll-behavior: smooth;
}

header h1{
  text-align: center;
  font-size: 70px;
  color: #4d4d4d;
}

/*----------------------------------Nav-----------------------------*/
nav{
  text-align: center;
  padding-top:50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  word-spacing: 40px;
}

nav li {
  display: inline;
}

nav a{
  text-decoration: none;
  color: grey;
  font-size: 15px;
  font-weight: bold;
  
}
nav a:hover {
  opacity: 10;
  color:#61d0d4;
}

/* -------------------------------EDUCATION----------------------------- */

h1{
  font-size: 50px;
  color: #4d4d4d;
  text-align: center;
}

main{
  height: 1300px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

 /*------------------------------Actuarial Management-----------------------------*/

.main1 {
  float: left;
  box-sizing: border-box;
  width:50%;
  text-align: center;
}

.side1{
  float: left;
  box-sizing: border-box;
  width: 50%;
}

.side1 h1{
  background-color: #e83557;
  border-radius: 100%;
  font-size: 30px;
  color: whitesmoke;
  padding: 45px;
  text-align: center;
}

/*---------------------------------Actuarial Science------------------------------*/

.main2 {
  float: left;
  box-sizing: border-box;
  width:50%;
  text-align: center;
}

.side2{
  float: left;
  box-sizing: border-box;
  width: 50%;
}

.side2 h1{
  background-color: #e83557;
  border-radius: 100%;
  font-size: 30px;
  color: whitesmoke;
  padding: 45px;
  text-align: center;
}

/*------------------------------------Bachelor of Commerce----------------------------*/

.main3 {
  float: left;
  box-sizing: border-box;
  width:50%;
  text-align: center;
}

.side3{
  float: left;
  box-sizing: border-box;
  width: 50%;
}

.side3 h1{
  background-color: #e83557;
  border-radius: 100%;
  font-size: 30px;
  color: whitesmoke;
  padding: 45px;
  text-align: center;
}

/*------------------------------------High School------------------------------------*/

.main4 {
  float: left;
  box-sizing: border-box;
  width:50%;
  text-align: center;
}

.side4{
  float: left;
  box-sizing: border-box;
  width: 50%;
}

.side4 h1{
  background-color: #e83557;
  border-radius: 100%;
  font-size: 30px;
  color: whitesmoke;
  padding: 45px;
  text-align: center;
}

/*-------------------------------------Primary & Secondary Schoo---------------------------*/

.main5 {
  float: left;
  box-sizing: border-box;
  width:50%;
  text-align: center;
}

.side5{
  float: left;
  box-sizing: border-box;
  width: 50%;
}

.side5 h1{
  background-color: #e83557;
  border-radius: 100%;
  font-size: 30px;
  color: whitesmoke;
  padding: 45px;
  text-align: center;
}

/* ------------------------Footer--------------------------- */
footer{
  background-color:#e83557;
  margin-top: 50px;
}

.soc img{
  height: 50px;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-top: 10px;
}

.soc h2, h4{
  font-size: small;
  color: whitesmoke;
}

.soc {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  padding-bottom: 20px;
}
.grid-item {
  font-size: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.grid-item a{
  color: whitesmoke;
  text-decoration: none;
}

.grid-item a:hover {
  opacity: 0.5;
  color:#61d0d4;
}

.grid-item3 {
  font-size: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.grid-item3 a{
  color: whitesmoke;
  text-decoration: none;
}

.grid-item3 a img{
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
.grid-item3 a:hover {
  opacity: 0.5;
  color:#61d0d4;
}
