html {
    background-color: #eae5e5;
  }

  header h1{
    text-align: center;
    font-size: 70px;
    color: #4d4d4d;
  }

  nav{
    text-align: center;
    padding-top:50px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    word-spacing: 40px;
  }

  nav li {
    display: inline;
  }

  nav a{
    text-decoration: none;
    color: grey;
    font-size: 15px;
    font-weight: bold;
    
  }
  nav a:hover {
    opacity: 10;
    color:#61d0d4;
  }

/* ----------------------------------- */

main{
  height: 2000px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1{
  font-size: 50px;
  color: #4d4d4d;
  text-align: center;
}

.main1{
  float: left;
  box-sizing: border-box;
  width:40%;
}

.main1 h1{
  font-size: 30px;
  background-color: #e83557;
  text-align: center;
  border-radius: 50%;
  padding: 40px;
  color: whitesmoke;
}

.side1{
  float: left;
  box-sizing: border-box;
  width: 60%;
}

.side1 img{
  height: 400px;
  width: 90%;
  margin-right:auto ;
  margin-left: auto;
  border-radius: 20%;
  margin-top: 160px;
  /* border:solid 4px #e83557; */
  box-shadow:0 0 35px 0px #e83557 ;
}


.main2{
  float: left;
  box-sizing: border-box;
  width:40%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main2 h1{
  font-size: 40px;
  background-color: #e83557;
  text-align: center;
  border-radius: 50%;
  padding: 40px;
  color: whitesmoke;
}

.side2{
  float: left;
  box-sizing: border-box;
  width: 60%;
}

.side2 img{
  height: 400px;
  width: 90%;
  margin-right:auto ;
  margin-left: auto;
  border-radius: 20%;
  margin-top: 200px;
  /* border:solid 4px #61d0d4; */
  box-shadow:0 0 35px 0px #e83557 ;
}

.main3{
  float: left;
  box-sizing: border-box;
  width:50%;
}

.side3{
  float: left;
  box-sizing: border-box;
  width: 50%;
}


.main3{
  float: left;
  box-sizing: border-box;
  width:40%;
}

.main3 h1{
  font-size: 40px;
  background-color: #e83557;
  text-align: center;
  border-radius: 50%;
  padding: 40px;
  color: whitesmoke;
}

.side3{
  float: left;
  box-sizing: border-box;
  width: 60%;
}

.side3 img{
  height: 400px;
  width: 90%;
  margin-right:auto ;
  margin-left: auto;
  border-radius: 20%;
  margin-top: 160px;
  /* border:solid 4px #e83557; */
  box-shadow:0 0 35px 10px #e83557 ;
}









/* ------------------------------------ */

footer{
    height: 150px;
    background-color:#e83557;
  }
  
  .soc img{
    height: 50px;
    width: 50px;
    color: whitesmoke;
  }
  
  .soc h2, h4{
    font-size: small;
    color: whitesmoke;
  }
  
  .soc {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
  
  }
  .grid-item {
    font-size: 30px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .grid-item a{
    color: whitesmoke;
    text-decoration: none;
  }

